$col: darkcyan;

.buttonContainer {
  height: 100px;
  border: none;
  display: block;
  text-align: center;
  box-shadow: 0px 6px $col;
  background: greenyellow;
  margin: auto;
  margin-top: 25px;
  font-weight: bolder;
}

button.btn {
  font-size: 20px;
  width: auto;
}

button.btn:active {
  border: none;
  position: relative;
  top: 3px;
  box-shadow: 1px 1px $col;
  background: $col;
}
