.container h2 {
  text-align: center;
  margin: 25px auto;
}

.list {
  border-radius: 25px;
  text-align: left;
  max-width: 100%;
  margin: auto;
}

.submit-form .edit-form {
  max-width: 300px;
  margin: auto;
}
